<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>FunaVid/Donantes </title>


    {{>header}}

  <!-- links para exportar a excel -->
  <script src="https://unpkg.com/xlsx@0.16.9/dist/xlsx.full.min.js"></script>
  <script src="https://unpkg.com/file-saverjs@latest/FileSaver.min.js"></script>
  <script src="https://unpkg.com/tableexport@latest/dist/js/tableexport.min.js"></script>

</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">

            <a href="index.html" class="site_title"><img src="../images/VidaKidsLogoCut.png" class="fotito">
              <span>VidaKids</span></a>
          </div>
          <div class="clearfix"></div>
            {{>head }}

      <!-- page content -->
      <div class="right_col" role="main">
        <section>
          <div class="titulo_p">
            <h1>Gestion de Donantes</h1>
          </div>
          <div class="titulo_s">
            <h4>Agregar donante</h4>
          </div>

          <img src="../images/boton-mas.png" alt="icon" class="icon_add" id="btn-abrir-modal">

        </section>
        <section class="search_icon">
          <form class="form-inline my-2 my-lg-0">
            <div>
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="btn-search">
              <button class="btn btn-outline-warning my-2 my-sm-0" type="submit"><img src="../images/bx-search-alt.svg"
                  alt=""></button>
            </div>
          </form>

        </section>


        <main>
          <div class="tabla">
            <table id="tblData" class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Dirección</th>
                  <th scope="col">Teléfono</th>
                  <th scope="col">Email</th>
                  <th scope="col">Tipo Donante</th>
                  <th scope="col">Documento Identidad</th>
                  <th scope="col">Fecha Registro</th>
                  <th scope="col">Entidad Asociada</th>
                  <th scope="col" class="th_center">Opciones</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
          {{!-- <div class="dow_excel">
            <button onclick="exportTableToExcel('tblData')" class="btn btn-success">Exportar datos a Excel
              <img src="../img/bxs-download.svg" alt=""></button>
          </div> --}}
          <div class="pagination" id="pagination">
            <button type="submit" class="botonp" name="" id="prevPage">Anterior</button>
            <span id="currentPage">
              <h6 id="paginado">1</h6>
            </span>
            <button type="submit" class="botonp" name="" id="nextPage">Siguiente</button>
          </div>
        </main>
        <dialog id="modal">
          <form action="" method="post" enctype="multipart/form-data" onsubmit="return validarFormulario()">
            <!-- Campo para el nombre -->
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required minlength="4" maxlength="100">

            <!-- Campo para seleccionar una categoría -->
            <label for="categoria">Categoría:</label>
            <select id="categoria" name="categoria" required>
              <option value="">Selecciona una categoría</option>
              <option value="opcion1">Opción 1</option>
              <option value="opcion2">Opción 2</option>
              <option value="opcion3">Opción 3</option>
            </select>

            <!-- Campo para cargar un archivo -->
            <label for="archivo">Cargar archivo:</label>
            <input type="file" id="archivo" name="archivo" accept=".pdf, .doc, .docx">

            <!-- Campo para escribir información -->
            <label for="informacion">Información:</label>
            <textarea id="informacion" name="informacion" rows="4" cols="50"></textarea>

            <!-- Campo para cambiar el estado -->
            <section>
              <div>
                <br>
                <label for="">Disponibilidad:</label>
                <div class="boton"></div>
                <div class="btn-boton-estado">
                  <input type="checkbox" name="" id="btn-switch">
                  <label for="btn-switch" class="lbl-switch"></label>
                </div>
              </div>
            </section>

            <!-- Sección de botones -->
            <section class="form_g_c">
              <div>
                <input type="submit" value="Guardar" class="btn btn-primary" onclick="guardadoExitoso()">
              </div>
              <div>
                <input type="button" value="Cancelar" class="btn btn-danger" id="btn-cerrar-modal">
              </div>
            </section>
          </form>
        </dialog>
      </div>
      <!-- /page content -->

      <!-- footer content -->
      <footer>
        <div class="pull-right">
          Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
        </div>
        <div class="clearfix"></div>
      </footer>
      <!-- /footer content -->
    </div>
  </div>
  <!--exportar datos a excel-->
  <script src="../js/export-excel.js"></script>
  <!--mensaje de guardado-->
  <script src="../js/alerts/guardado_s.js"></script>
  <!--alerta-->
  <script src="../js/alerts/delete.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <!--js-->
  <script src="../js/registro_servicio.js"></script>
  <!--Boxicon-->
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  <!-- jQuery -->
  <script src="../vendors/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="../vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!-- FastClick -->
  <script src="../vendors/fastclick/lib/fastclick.js"></script>
  <!-- NProgress -->
  <script src="../vendors/nprogress/nprogress.js"></script>
  <!-- Chart.js -->
  <script src="../vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- jQuery Sparklines -->
  <script src="../vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
  <!-- morris.js -->
  <script src="../vendors/raphael/raphael.min.js"></script>
  <script src="../vendors/morris.js/morris.min.js"></script>
  <!-- gauge.js -->
  <script src="../vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- bootstrap-progressbar -->
  <script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
  <!-- Skycons -->
  <script src="../vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="../vendors/Flot/jquery.flot.js"></script>
  <script src="../vendors/Flot/jquery.flot.pie.js"></script>
  <script src="../vendors/Flot/jquery.flot.time.js"></script>
  <script src="../vendors/Flot/jquery.flot.stack.js"></script>
  <script src="../vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="../vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="../vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="../vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="../vendors/DateJS/build/date.js"></script>
  <!-- bootstrap-daterangepicker -->
  <script src="../vendors/moment/min/moment.min.js"></script>
  <script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>


  <!-- Custom Theme Scripts -->
  <script src="../build/js/custom.min.js"></script>

  <script>
    const data =
      [
        { "id": "1", "nombre": "Conor McGregor", "direccion": "St One Avenew 234, Miami-Florida", "telefono": "+1 3476834543", "email": "conorsito@gmail.com", "tipo_Donante": "Persona Jurídica", "documento_Identidad": "NIT. 176.28317.40-3", "fecha_Registro": "12/06/2020", "entidad_Asociada": "ConorsitoKids" },
        { "id": "2", "nombre": "Alan Harper", "direccion": "Calle 23 #45 a 34 Medellín-Colombia", "telefono": "+57 3144355434", "email": "alanquiroprac@gmail.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "CC. 1036475687", "fecha_Registro": "1/11/2022", "entidad_Asociada": "" },
        { "id": "3", "nombre": "Luisa Pérez", "direccion": "Av. Principal 567, Lima-Perú", "telefono": "+51 1 2345678", "email": "luisaperez@gmail.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "CC. 87654321", "fecha_Registro": "08/18/2021", "entidad_Asociada": "" },
        { "id": "4", "nombre": "Emily Johnson", "direccion": "123 Birch St, Anyplace, USA", "telefono": "+1 5558901234", "email": "emily.johnson@gmail.com", "tipo_Donante": "Persona Jurídica", "documento_Identidad": "NIT. 543.21098.76-5", "fecha_Registro": "02/14/2022", "entidad_Asociada": "EmilyCorp" },
        { "id": "5", "nombre": "Carlos Martínez", "direccion": "Carrera 34 #56-78, Cali-Colombia", "telefono": "+57 3228765432", "email": "carlos.martinez@gmail.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "CC. 876543210", "fecha_Registro": "06/25/2023", "entidad_Asociada": "" },
        { "id": "6", "nombre": "Sophia Lee", "direccion": "678 Pine St, Another Village, USA", "telefono": "+1 5557890123", "email": "sophia.lee@gmail.com", "tipo_Donante": "Persona Jurídica", "documento_Identidad": "NIT. 876.54321.90-8", "fecha_Registro": "11/05/2020", "entidad_Asociada": "SophiaCorp" },
        { "id": "7", "nombre": "Rafaela Hernández", "direccion": "Calle 45 #67-89, Medellín-Colombia", "telefono": "+57 3007654321", "email": "rafaela.hernandez@gmail.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "CC. 654321098", "fecha_Registro": "03/12/2021", "entidad_Asociada": "" },
        { "id": "8", "nombre": "Diego Pérez", "direccion": "Rua das Flores 789, São Paulo-Brasil", "telefono": "+55 11 876543210", "email": "diego.perez@gmail.com", "tipo_Donante": "Persona Jurídica", "documento_Identidad": "CNPJ. 12.345.678/0001-90", "fecha_Registro": "09/29/2022", "entidad_Asociada": "DiegoCorp" },
        { "id": "9", "nombre": "Emma White", "direccion": "567 Cedar St, Another Town, USA", "telefono": "+1 5556789012", "email": "emma.white@gmail.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "SSN. 876-54-3210", "fecha_Registro": "05/07/2023", "entidad_Asociada": "" },
        { "id": "10", "nombre": "Martín Rodríguez", "direccion": "Av. Libertadores 123, Quito-Ecuador", "telefono": "+593 2 3456789", "email": "martin.rodriguez@gmail.com", "tipo_Donante": "Persona Jurídica", "documento_Identidad": "RUC. 987654321-1", "fecha_Registro": "01/14/2020", "entidad_Asociada": "MartínCorp" },
        { "id": "11", "nombre": "Grace Kim", "direccion": "234 Maple St, Another City, USA", "telefono": "+1 5553456789", "email": "grace.kim@gmail.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "SSN. 543-21-0987", "fecha_Registro": "08/02/2021", "entidad_Asociada": "" },
        { "id": "12", "nombre": "Rafael Pérez", "direccion": "Calle 56 #78-90, Barranquilla-Colombia", "telefono": "+57 3109876543", "email": "rafael.perez@gmail.com", "tipo_Donante": "Persona Jurídica", "documento_Identidad": "NIT. 765.43210.09-8", "fecha_Registro": "04/19/2022", "entidad_Asociada": "RafaelCorp" },
        { "id": "13", "nombre": "Laura Fernández", "direccion": "Rua das Oliveiras 567, Lisboa-Portugal", "telefono": "+351 21 9876543", "email": "laura.fernandez@gmail.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "BI. 12345678", "fecha_Registro": "12/08/2019", "entidad_Asociada": "" },
        { "id": "14", "nombre": "Benjamin Smith", "direccion": "789 Birch St, Another Place, USA", "telefono": "+1 5558765432", "email": "benjamin.smith@gmail.com", "tipo_Donante": "Persona Jurídica", "documento_Identidad": "NIT. 654.32109.87-6", "fecha_Registro": "03/25/2020", "entidad_Asociada": "BenjaminCorp" },
        { "id": "15", "nombre": "Isabella López", "direccion": "Carrera 56 #78-90, Bogotá-Colombia", "telefono": "+57 3187654321", "email": "isabella.lopez@gmail.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "CC. 876543210", "fecha_Registro": "07/15/2021", "entidad_Asociada": "" },
        { "id": "16", "nombre": "Sebastian Morales", "direccion": "Rua Principal 456, São Paulo-Brasil", "telefono": "+55 11 876543210", "email": "sebastian.morales@gmail.com", "tipo_Donante": "Persona Jurídica", "documento_Identidad": "CNPJ. 34.567.890/0001-23", "fecha_Registro": "07/18/2020", "entidad_Asociada": "SebastianCorp" },
        { "id": "17", "nombre": "Ava Davis", "direccion": "678 Oak St, Someplace, USA", "telefono": "+1 5557890123", "email": "ava.davis@gmail.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "SSN. 876-54-3210", "fecha_Registro": "04/05/2021", "entidad_Asociada": "" },
        { "id": "18", "nombre": "Carlos Sánchez", "direccion": "Av. Libertadores 789, Santiago-Chile", "telefono": "+56 2 3456789", "email": "carlos.sanchez@gmail.com", "tipo_Donante": "Persona Jurídica", "documento_Identidad": "RUT. 12.345.678-9", "fecha_Registro": "10/12/2022", "entidad_Asociada": "CarlosCorp" },
        { "id": "19", "nombre": "Oliver Johnson", "direccion": "123 Maple St, Another City, USA", "telefono": "+1 5552345678", "email": "oliver.johnson@gmail.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "SSN. 987-65-4321", "fecha_Registro": "05/27/2023", "entidad_Asociada": "" },
        { "id": "20", "nombre": "María García", "direccion": "Calle 34 #56-78, Medellín-Colombia", "telefono": "+57 3118765432", "email": "maria.garcia@gmail.com", "tipo_Donante": "Persona Jurídica", "documento_Identidad": "NIT. 765.43210.09-8", "fecha_Registro": "11/14/2021", "entidad_Asociada": "MaríaCorp" },
        { "id": "21", "nombre": "Liam Turner", "direccion": "Rua das Flores 567, Lisboa-Portugal", "telefono": "+351 21 8765432", "email": "liam.turner@gmail.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "BI. 87654321", "fecha_Registro": "08/20/2020", "entidad_Asociada": "" },
        { "id": "22", "nombre": "Mariana Fernández", "direccion": "789 Birch St, Another Place, USA", "telefono": "+1 5558765432", "email": "mariana.fernandez@gmail.com", "tipo_Donante": "Persona Jurídica", "documento_Identidad": "NIT. 654.32109.87-6", "fecha_Registro": "04/11/2021", "entidad_Asociada": "MarianaCorp" },
        { "id": "23", "nombre": "Diego Rodríguez", "direccion": "Carrera 56 #78-90, Bogotá-Colombia", "telefono": "+57 3154321098", "email": "diego.rodriguez@gmail.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "CC. 765432109", "fecha_Registro": "09/27/2022", "entidad_Asociada": "" },
        { "id": "24", "nombre": "Sophia Chen", "direccion": "456 Pine St, Another Village, USA", "telefono": "+1 5552345678", "email": "sophia.chen@gmail.com", "tipo_Donante": "Persona Jurídica", "documento_Identidad": "NIT. 890.12345.67-8", "fecha_Registro": "07/04/2023", "entidad_Asociada": "SophiaCorp" },
        { "id": "25", "nombre": "Lucas Ramírez", "direccion": "Av. Principal 123, Lima-Perú", "telefono": "+51 1 2345678", "email": "lucas.ramirez@gmail.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "DNI. 98765432", "fecha_Registro": "02/15/2019", "entidad_Asociada": "" },
        { "id": "26", "nombre": "Eva Morales", "direccion": "Rua Principal 456, São Paulo-Brasil", "telefono": "+55 11 876543210", "email": "eva.morales@gmail.com", "tipo_Donante": "Persona Jurídica", "documento_Identidad": "CNPJ. 45.678.901/0001-34", "fecha_Registro": "07/25/2020", "entidad_Asociada": "EvaCorp" },
        { "id": "27", "nombre": "Noah Davis", "direccion": "678 Oak St, Someplace, USA", "telefono": "+1 5557890123", "email": "noah.davis@gmail.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "SSN. 876-54-3210", "fecha_Registro": "04/18/2021", "entidad_Asociada": "" },
        { "id": "28", "nombre": "Valeria Sánchez", "direccion": "Av. Libertadores 789, Santiago-Chile", "telefono": "+56 2 3456789", "email": "valeria.sanchez@gmail.com", "tipo_Donante": "Persona Jurídica", "documento_Identidad": "RUT. 12.345.678-9", "fecha_Registro": "10/25/2022", "entidad_Asociada": "ValeriaCorp" },
        { "id": "29", "nombre": "Jack Johnson", "direccion": "123 Maple St, Another City, USA", "telefono": "+1 5552345678", "email": "jack.johnson@gmail.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "SSN. 987-65-4321", "fecha_Registro": "06/01/2023", "entidad_Asociada": "" },
        { "id": "30", "nombre": "Camila García", "direccion": "Calle 34 #56-78, Medellín-Colombia", "telefono": "+57 3118765432", "email": "camila.garcia@gmail.com", "tipo_Donante": "Persona Jurídica", "documento_Identidad": "NIT. 765.43210.09-8", "fecha_Registro": "11/18/2021", "entidad_Asociada": "CamilaCorp" },
        { "id": "31", "nombre": "Mia Turner", "direccion": "Rua das Flores 567, Lisboa-Portugal", "telefono": "+351 21 8765432", "email": "mia.turner@gmail.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "BI. 87654321", "fecha_Registro": "08/25/2020", "entidad_Asociada": "" },
        { "id": "32", "nombre": "Lucas Fernández", "direccion": "789 Birch St, Another Place, USA", "telefono": "+1 5558765432", "email": "lucas.fernandez@gmail.com", "tipo_Donante": "Persona Jurídica", "documento_Identidad": "NIT. 654.32109.87-6", "fecha_Registro": "04/24/2021", "entidad_Asociada": "LucasCorp" },
        { "id": "33", "nombre": "Gabriela Rodríguez", "direccion": "Carrera 56 #78-90, Bogotá-Colombia", "telefono": "+57 3145432109", "email": "gabriela.rodriguez@gmail.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "CC. 765432109", "fecha_Registro": "09/30/2022", "entidad_Asociada": "" },
        { "id": "34", "nombre": "Daniel Chen", "direccion": "456 Pine St, Another Village, USA", "telefono": "+1 5552345678", "email": "daniel.chen@gmail.com", "tipo_Donante": "Persona Jurídica", "documento_Identidad": "NIT. 890.12345.67-8", "fecha_Registro": "07/11/2023", "entidad_Asociada": "DanielCorp" },
        { "id": "35", "nombre": "Isabella Ramírez", "direccion": "Av. Principal 123, Lima-Perú", "telefono": "+51 1 2345678", "email": "isabella.ramirez@gmail.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "DNI. 98765432", "fecha_Registro": "02/20/2019", "entidad_Asociada": "" },
        { "id": "36", "nombre": "Henry Turner", "direccion": "Rua Principal 456, São Paulo-Brasil", "telefono": "+55 11 876543210", "email": "henry.turner@gmail.com", "tipo_Donante": "Persona Jurídica", "documento_Identidad": "CNPJ. 56.789.012/0001-45", "fecha_Registro": "08/01/2020", "entidad_Asociada": "HenryCorp" },
        { "id": "37", "nombre": "Sophie Davis", "direccion": "678 Oak St, Someplace, USA", "telefono": "+1 5557890123", "email": "sophie.davis@gmail.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "SSN. 876-54-3210", "fecha_Registro": "04/11/2021", "entidad_Asociada": "" },
        { "id": "38", "nombre": "Juan Sánchez", "direccion": "Av. Libertadores 789, Santiago-Chile", "telefono": "+56 2 3456789", "email": "juan.sanchez@gmail.com", "tipo_Donante": "Persona Jurídica", "documento_Identidad": "RUT. 12.345.678-9", "fecha_Registro": "10/15/2022", "entidad_Asociada": "JuanCorp" },
        { "id": "39", "nombre": "Emma Johnson", "direccion": "123 Maple St, Another City, USA", "telefono": "+1 5552345678", "email": "emma.johnson@gmail.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "SSN. 987-65-4321", "fecha_Registro": "06/07/2023", "entidad_Asociada": "" },
        { "id": "40", "nombre": "Mateo García", "direccion": "Calle 34 #56-78, Medellín-Colombia", "telefono": "+57 3118765432", "email": "mateo.garcia@gmail.com", "tipo_Donante": "Persona Jurídica", "documento_Identidad": "NIT. 765.43210.09-8", "fecha_Registro": "11/22/2021", "entidad_Asociada": "MateoCorp" },
        { "id": "41", "nombre": "Chloe Turner", "direccion": "Rua das Flores 567, Lisboa-Portugal", "telefono": "+351 21 8765432", "email": "chloe.turner@gmail.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "BI. 87654321", "fecha_Registro": "08/15/2020", "entidad_Asociada": "" },
        { "id": "42", "nombre": "Liam Fernández", "direccion": "789 Birch St, Another Place, USA", "telefono": "+1 5558765432", "email": "liam.fernandez@gmail.com", "tipo_Donante": "Persona Jurídica", "documento_Identidad": "NIT. 654.32109.87-6", "fecha_Registro": "04/14/2021", "entidad_Asociada": "LiamCorp" },
        { "id": "43", "nombre": "Valentina Rodríguez", "direccion": "Carrera 56 #78-90, Bogotá-Colombia", "telefono": "+57 3175432109", "email": "valentina.rodriguez@gmail.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "CC. 765432109", "fecha_Registro": "10/21/2022", "entidad_Asociada": "" },
        { "id": "44", "nombre": "David Chen", "direccion": "456 Pine St, Another Village, USA", "telefono": "+1 5552345678", "email": "david.chen@gmail.com", "tipo_Donante": "Persona Jurídica", "documento_Identidad": "NIT. 890.12345.67-8", "fecha_Registro": "07/06/2023", "entidad_Asociada": "DavidCorp" },
        { "id": "45", "nombre": "Aria Ramírez", "direccion": "Av. Principal 123, Lima-Perú", "telefono": "+51 1 2345678", "email": "aria.ramirez@gmail.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "DNI. 98765432", "fecha_Registro": "02/22/2019", "entidad_Asociada": "" },
        { "id": "46", "nombre": "Elena Rodriguez", "direccion": "Avenida Primavera 789, Barcelona-España", "telefono": "+34 678901234", "email": "elena.rodriguez@example.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "DNI. 12345678X", "fecha_Registro": "15/09/2021", "entidad_Asociada": "AyudaSolidaria" },
        { "id": "47", "nombre": "Samuel Thompson", "direccion": "123 Oak Street, New York, USA", "telefono": "+1 9876543210", "email": "samuel.thompson@example.com", "tipo_Donante": "Persona Jurídica", "documento_Identidad": "EIN. 987654321", "fecha_Registro": "02/04/2022", "entidad_Asociada": "CommunityBuilders" },
        { "id": "48", "nombre": "Marie Dupont", "direccion": "Rue de la Paix 456, Paris-France", "telefono": "+33 612345678", "email": "marie.dupont@example.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "IDF. 87654321A", "fecha_Registro": "19/11/2022", "entidad_Asociada": "AideHumanitaire" },
        { "id": "49", "nombre": "John Smith", "direccion": "10 Downing Street, London-UK", "telefono": "+44 7700123456", "email": "john.smith@example.com", "tipo_Donante": "Persona Jurídica", "documento_Identidad": "CRN. 543210987", "fecha_Registro": "05/08/2023", "entidad_Asociada": "GlobalAidFoundation" },
        { "id": "50", "nombre": "Ana Martinez", "direccion": "Calle Mayor 567, Madrid-España", "telefono": "+34 612345678", "email": "ana.martinez@example.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "NIF. 11223344B", "fecha_Registro": "14/02/2023", "entidad_Asociada": "AyudaHumanitariaESP" },
        { "id": "51", "nombre": "Emily Johnson", "direccion": "123 Maple Avenue, Toronto-Canada", "telefono": "+1 4167890123", "email": "emily.johnson@example.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "SIN. 987654321", "fecha_Registro": "07/06/2022", "entidad_Asociada": "CanadianAid" },
        { "id": "52", "nombre": "Carlos Fernandez", "direccion": "Carrera 45 #67-89, Bogotá-Colombia", "telefono": "+57 3109876543", "email": "carlos.fernandez@example.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "CC. 8765432109", "fecha_Registro": "23/01/2023", "entidad_Asociada": "AyudaColombia" },
        { "id": "53", "nombre": "Sophie Müller", "direccion": "Unter den Linden 123, Berlin-Germany", "telefono": "+49 1701234567", "email": "sophie.mueller@example.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "PAS. AB123456", "fecha_Registro": "11/12/2021", "entidad_Asociada": "DeutscheHilfe" },
        { "id": "54", "nombre": "Miguel González", "direccion": "Calle 8 #56-34, Medellín-Colombia", "telefono": "+57 3008765432", "email": "miguel.gonzalez@example.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "CC. 7654321098", "fecha_Registro": "30/04/2022", "entidad_Asociada": "" },
        { "id": "55", "nombre": "Lily Chen", "direccion": "123 Bamboo Lane, Beijing-China", "telefono": "+86 13800112233", "email": "lily.chen@example.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "ID. 987654321", "fecha_Registro": "18/08/2023", "entidad_Asociada": "ChinaAid" },
        { "id": "56", "nombre": "Alexandre Dubois", "direccion": "Rue de la Liberté 789, Paris-France", "telefono": "+33 612345678", "email": "alexandre.dubois@example.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "IDF. 11223344C", "fecha_Registro": "02/03/2023", "entidad_Asociada": "AideMondiale" },
        { "id": "57", "nombre": "Isabella Rossi", "direccion": "Via Roma 567, Rome-Italy", "telefono": "+39 3334445555", "email": "isabella.rossi@example.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "COD. AB123456", "fecha_Registro": "15/09/2022", "entidad_Asociada": "AiutoItalia" },
        { "id": "58", "nombre": "James Anderson", "direccion": "45 Maple Street, Sydney-Australia", "telefono": "+61 412345678", "email": "james.anderson@example.com", "tipo_Donante": "Persona Jurídica", "documento_Identidad": "ACN. 987654321", "fecha_Registro": "10/11/2021", "entidad_Asociada": "AussieAid" },
        { "id": "59", "nombre": "Camila Oliveira", "direccion": "Rua das Flores 123, Sao Paulo-Brazil", "telefono": "+55 11 987654321", "email": "camila.oliveira@example.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "CPF. 87654321098", "fecha_Registro": "27/05/2022", "entidad_Asociada": "" },
        { "id": "60", "nombre": "William Turner", "direccion": "10 Downing Street, London-UK", "telefono": "+44 7700123456", "email": "william.turner@example.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "CRN. 543210987", "fecha_Registro": "03/01/2023", "entidad_Asociada": "GlobalAidFoundation" },
        { "id": "61", "nombre": "Sofia Garcia", "direccion": "Carrera 10 #20-30, Bogotá-Colombia", "telefono": "+57 3101234567", "email": "sofia.garcia@example.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "CC. 7654321098", "fecha_Registro": "12/07/2022", "entidad_Asociada": "AyudaColombia" },
        { "id": "62", "nombre": "Nikolai Ivanov", "direccion": "Ulitsa Pushkina 123, Moscow-Russia", "telefono": "+7 9261234567", "email": "nikolai.ivanov@example.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "ID. 87654321", "fecha_Registro": "28/04/2023", "entidad_Asociada": "RussianAid" },
        { "id": "63", "nombre": "Emma Taylor", "direccion": "5th Avenue 456, New York, USA", "telefono": "+1 2123456789", "email": "emma.taylor@example.com", "tipo_Donante": "Persona Jurídica", "documento_Identidad": "EIN. 654321987", "fecha_Registro": "17/10/2021", "entidad_Asociada": "USRelief" },
        { "id": "64", "nombre": "Rafael dos Santos", "direccion": "Rua das Palmeiras 789, Rio de Janeiro-Brazil", "telefono": "+55 21 987654321", "email": "rafael.dos.santos@example.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "CPF. 12345678901", "fecha_Registro": "09/02/2022", "entidad_Asociada": "BrazilAid" },
        { "id": "65", "nombre": "Olivia White", "direccion": "10 Main Street, London-UK", "telefono": "+44 7700123456", "email": "olivia.white@example.com", "tipo_Donante": "Persona Natural", "documento_Identidad": "CRN. 543210987", "fecha_Registro": "06/06/2023", "entidad_Asociada": "GlobalAidFoundation" }
      ]

    const table = document.getElementById('tblData');
    const pagination = document.getElementById('pagination');
    const prevPageButton = document.getElementById('prevPage');
    const nextPageButton = document.getElementById('nextPage');
    const currentPageSpan = document.getElementById('currentPage');
    let currentPage = 1;
    const itemsPerPage = 5; // Cambia esto para ajustar la total de filas por página

    function showData(page) {
      const startIndex = (page - 1) * itemsPerPage;
      const endIndex = startIndex + itemsPerPage;
      const paginatedData = data.slice(startIndex, endIndex);
      table.tBodies[0].innerHTML = '';

      for (const item of paginatedData) {
        const row = table.tBodies[0].insertRow();
        row.insertCell(0).textContent = item.id;
        row.insertCell(1).textContent = item.nombre;
        row.insertCell(2).textContent = item.direccion;
        row.insertCell(3).textContent = item.telefono;
        row.insertCell(4).textContent = item.email;
        row.insertCell(5).textContent = item.tipo_Donante;
        row.insertCell(6).textContent = item.documento_Identidad;
        row.insertCell(7).textContent = item.fecha_Registro;
        row.insertCell(8).textContent = item.entidad_Asociada;

        const optionsCell = row.insertCell(9);
        optionsCell.className = 'Opciones';
        optionsCell.innerHTML = `

                <div><a href="info-servicios"><img src="../images/eye-svgrepo-com.svg" alt="icon" class="opc_eyes"></a></div>
                <div><img src="../images/editar.png" alt="icon" class="opc_edit"></div>
                <div><img src="../images/borrar.png" alt="icon" class="opc_delete" onclick="mostrarAlerta()"></div>`;
      }

      currentPage = page;
      currentPageSpan.textContent = currentPage;
      prevPageButton.disabled = currentPage === 1;
      nextPageButton.disabled = currentPage === Math.ceil(data.length / itemsPerPage);
    }

    prevPageButton.addEventListener('click', () => {
      if (currentPage > 1) {
        showData(currentPage - 1);
      }
    });

    nextPageButton.addEventListener('click', () => {
      if (currentPage < Math.ceil(data.length / itemsPerPage)) {
        showData(currentPage + 1);
      }
    });
    showData(currentPage); // Mostrar la primera página al cargar la página
  </script>

</body>

</html>

<style>
  .fotito {
    border-radius: 50%;
    width: 50px;
  }

  .botonp {
    border-radius: 5px;
    margin: 5px;
    box-shadow: inset 2px 2px 4px rgba(120, 120, 120, .4), inset -3px -3px 3px rgba(255, 255, 255, .4);
    color: white;
    padding: 3px;
    background-color: #0f84c3;
  }

  .th_center {
    text-align: center;
  }

  .titulo_p {
    text-align: center;
    margin-top: 70px;
  }

  .titulo_s {
    margin-left: 120px;
    margin-top: 120px
  }

  .opc_edit,
  .opc_delete,
  .opc_eyes {
    width: 25px;
  }

  .icon_add {
    width: 55px;
    margin-left: 45px;
    margin-top: -70px;
  }

  .search_icon {
    width: 200px;
    margin-left: 900px;
    margin-top: -70px;
    display: flex;
  }

  .btn-search {
    margin-left: 220px;
    margin-top: -38px;

  }

  .form-inline {
    display: flex;
    justify-content: space-between;
  }

  .Opciones {
    display: flex;
    justify-content: space-around;
  }

  .dow_excel {
    margin-left: 50px;
  }

  body {
    font-family: Arial, sans-serif;
  }

  h1 {
    text-align: center;
  }

  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }

  textarea {
    resize: vertical;
  }

  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #0056b3;
  }

  .form_g_c {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  dialog {
    border: none;
    border-radius: 7px;
  }

  .boton {
    margin: 10px;
  }

  .lbl-switch {
    display: inline-block;
    width: 55px;
    height: 30px;
    background: #e00c0c;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
  }

  #btn-switch:checked~.lbl-switch {
    background-color: darkgreen;
  }

  #btn-switch:checked~.lbl-switch:after {
    left: 28px;
  }

  .lbl-switch:after {
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 100px;
    top: 4px;
    left: 5px;
    transition: 0.3s;
  }

  #btn-switch {
    display: none;
  }

  .btn-boton-estado {
    margin-left: 150px;
    margin-top: -37px;
  }
</style>