<!DOCTYPE html>
<html lang="en">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../images/VidaKids-logo.jpg">

    <title>FunaVid | Donaciones (Donante)</title>

        {{>header}}

    <!-- links para exportar a excel -->
    <script src="https://unpkg.com/xlsx@0.16.9/dist/xlsx.full.min.js"></script>
    <script src="https://unpkg.com/file-saverjs@latest/FileSaver.min.js"></script>
    <script src="https://unpkg.com/tableexport@latest/dist/js/tableexport.min.js"></script>



</head>

<style>
    .boton {
        border-radius: 5px;
        margin: 5px;
        box-shadow: inset 2px 2px 4px rgba(120, 120, 120, .4), inset -3px -3px 3px rgba(255, 255, 255, .4);
        color: white;
        padding: 3px;
        background-color: #0f84c3;
    }

    .fotito {
        border-radius: 50%;
        width: 50px;
    }

    .th_center {
        text-align: center;
    }

    .titulo_p {
        text-align: center;
        margin-top: 70px;
    }

    .titulo_s {
        margin-left: 120px;
        margin-top: 120px
    }

    .opc_edit,
    .opc_delete,
    .opc_eyes {
        width: 25px;
    }

    .icon_add {
        width: 55px;
        margin-left: 45px;
        margin-top: -70px;
    }

    .search_icon {
        width: 200px;
        margin-left: 900px;
        margin-top: -70px;
        display: flex;
    }

    .btn-search {
        margin-left: 220px;
        margin-top: -38px;

    }

    .form-inline {
        display: flex;
        justify-content: space-between;
    }


    .Opciones {
        display: flex;
        justify-content: space-around;
    }

    .dow_excel {
        margin-left: 50px;


    }


    body {
        font-family: Arial, sans-serif;
    }


    h1 {
        text-align: center;
    }


    form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 5px;
    }


    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }


    input[type="text"],
    select,
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }


    input[type="file"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }


    textarea {
        resize: vertical;
    }


    input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
        padding: 10px 20px;
        cursor: pointer;
    }


    input[type="submit"]:hover {
        background-color: #0056b3;
    }

    .form_g_c {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }

    dialog {
        border: none;
        border-radius: 7px;
    }

    .boton {
        margin: 10px;
    }

    .lbl-switch {
        display: inline-block;
        width: 55px;
        height: 30px;
        background: #e00c0c;
        border-radius: 100px;
        position: relative;
        cursor: pointer;
    }

    #btn-switch:checked~.lbl-switch {
        background-color: darkgreen;
    }

    #btn-switch:checked~.lbl-switch:after {
        left: 28px;
    }

    .lbl-switch:after {
        position: absolute;
        content: '';
        width: 22px;
        height: 22px;
        background: #fff;
        border-radius: 100px;
        top: 4px;
        left: 5px;
        transition: 0.3s;
    }

    #btn-switch {
        display: none;
    }

    .btn-boton-estado {
        margin-left: 150px;
        margin-top: -37px;
    }

    .prevPage {}

    .nextPage {}

    .paginado {}
</style>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                                    <a href="index.html" class="site_title"><img src="../images/VidaKidsLogoCut.png" class="fotito">
              <span>VidaKids</span></a>
                    </div>


                    <div class="clearfix"></div>

                        {{>head }}

            <!-- page content -->
            <div class="right_col" role="main">
                <section>
                    <div class="titulo_p">
                        <h1>Gestion de Donaciones</h1>
                    </div>
                    <div class="titulo_s">
                        <h4>Agregar donación</h4>
                    </div>

                    <img src="../images/indexDonaciones/boton-mas.png" alt="icon" class="icon_add" id="btn-abrir-modal">

                </section>
                <section class="search_icon">
                    <form class="form-inline my-2 my-lg-0">
                        <div>
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        </div>
                        <div class="btn-search">
                            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit"><img
                                    src="../images/indexDonaciones/bx-search-alt.svg" alt=""></button>
                        </div>
                    </form>

                </section>


                <main>
                    <div class="tabla">
                        <table id="tblData" class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellidos</th>
                                    <th scope="col">Donación</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Fecha donado</th>
                                    <th scope="col">Fecha registro donación</th>
                                    <th scope="col" class="th_center">Opciones</th>


                                </tr>
                            </thead>

                            <tbody>
                            </tbody>

                        </table>
                    </div>


                    <div class="pagination" id="pagination">
                        <button type="submit" class="boton" name="" id="prevPage">Anterior</button>
                        <span id="currentPage">
                            <h6 id="paginado">1</h6>
                        </span>
                        <button type="submit" class="boton" name="" id="nextPage">Siguiente</button>
                    </div>

                </main>
                <dialog id="modal">
                    <form action="" method="post" enctype="multipart/form-data" onsubmit="return validarFormulario()">
                        <!-- Campo para el nombre -->
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" required minlength="4" maxlength="100">

                        <!-- Campo para seleccionar una categoría -->
                        <label for="categoria">Categoría:</label>
                        <select id="categoria" name="categoria" required>
                            <option value="">Selecciona una categoría</option>
                            <option value="opcion1">Opción 1</option>
                            <option value="opcion2">Opción 2</option>
                            <option value="opcion3">Opción 3</option>
                        </select>

                        <!-- Campo para cargar un archivo -->
                        <label for="archivo">Cargar archivo:</label>
                        <input type="file" id="archivo" name="archivo" accept=".pdf, .doc, .docx">

                        <!-- Campo para escribir información -->
                        <label for="informacion">Información:</label>
                        <textarea id="informacion" name="informacion" rows="4" cols="50"></textarea>

                        <!-- Campo para cambiar el estado -->
                        <section>
                            <div>
                                <br>
                                <label for="">Disponibilidad:</label>
                                <div class="boton"></div>
                                <div class="btn-boton-estado">
                                    <input type="checkbox" name="" id="btn-switch">
                                    <label for="btn-switch" class="lbl-switch"></label>
                                </div>
                            </div>
                        </section>

                        <!-- Sección de botones -->
                        <section class="form_g_c">
                            <div>
                                <input type="submit" value="Guardar" class="btn btn-primary"
                                    onclick="guardadoExitoso()">
                            </div>
                            <div>
                                <input type="button" value="Cancelar" class="btn btn-danger" id="btn-cerrar-modal">
                            </div>
                        </section>
                    </form>
                </dialog>


            </div>
            <!-- /page content -->


            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <!--exportar datos a excel-->
    <script src="../js/export-excel.js"></script>
    <!--mensaje de guardado-->
    <script src="../js/alerts/guardado_s.js"></script>
    <!--alerta-->
    <script src="../js/alerts/delete.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!--js-->
    <script src="../js/registro_servicio.js"></script>
    <!--Boxicon-->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>


    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="../vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- jQuery Sparklines -->
    <script src="../vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- morris.js -->
    <script src="../vendors/raphael/raphael.min.js"></script>
    <script src="../vendors/morris.js/morris.min.js"></script>
    <!-- gauge.js -->
    <script src="../vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- Skycons -->
    <script src="../vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="../vendors/Flot/jquery.flot.js"></script>
    <script src="../vendors/Flot/jquery.flot.pie.js"></script>
    <script src="../vendors/Flot/jquery.flot.time.js"></script>
    <script src="../vendors/Flot/jquery.flot.stack.js"></script>
    <script src="../vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="../vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="../vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="../vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="../vendors/DateJS/build/date.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="../vendors/moment/min/moment.min.js"></script>
    <script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>


    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>

    <script>

        const data = [
            { "id": 1, "first_name": "Julián ALberto", "last_name": "Lopera Cano", "donation": "Dinero", "type": "Efectivo", "total": "$1.000.000", "fechaDonado": "12/11/2023", "fechaRegistroDonacion": "14/11/2023" },
            { "id": 2, "first_name": "Julián Alberto", "last_name": "Lopera Cano", "donation": "Alimentos", "type": "Perecedero", "total": "Papa 30(KG)", "fechaDonado": "05/03/2023", "fechaRegistroDonacion": "02/02/2023" },
            { "id": 3, "first_name": "Julián Alberto", "last_name": "Lopera Cano", "donation": "Tratamiento", "type": "Equinoterapia", "total": "2", "fechaDonado": "20/05/2023", "fechaRegistroDonacion": "10/04/2023" },
            { "id": 4, "first_name": "Julián Alberto", "last_name": "Lopera Cano", "donation": "Medicamento", "type": "Sobre", "total": "Acetaminophen X 2", "fechaDonado": "15/08/2023", "fechaRegistroDonacion": "22/07/2023" },
            { "id": 6, "first_name": "Julián Alberto", "last_name": "Lopera Cano", "donation": "Libros", "type": "Didácticos", "total": "10", "fechaDonado": "01/10/2023", "fechaRegistroDonacion": "18/09/2023" },
            { "id": 7, "first_name": "Julián Alberto", "last_name": "Lopera Cano", "donation": "Ropa", "type": "Invierno", "total": "Abrigo x 2", "fechaDonado": "09/12/2023", "fechaRegistroDonacion": "27/11/2023" },
            { "id": 8, "first_name": "Julián Alberto", "last_name": "Lopera Cano", "donation": "Juguetes", "type": "Educativos", "total": "Ajedrez x 2", "fechaDonado": "08/02/2023", "fechaRegistroDonacion": "15/01/2023" },
            { "id": 9, "first_name": "Julián Alberto", "last_name": "Lopera Cano", "donation": "Dinero", "type": "Transferencia Bancaria", "total": "$500.000", "fechaDonado": "03/04/2023", "fechaRegistroDonacion": "21/03/2023" },
            { "id": 10, "first_name": "Julián Alberto", "last_name": "Lopera Cano", "donation": "Artículos de Higiene", "type": "Kit", "total": "Jabón x 2", "fechaDonado": "11/06/2023", "fechaRegistroDonacion": "30/05/2023" },
            { "id": 11, "first_name": "Julián Alberto", "last_name": "Loper Cano", "donation": "Dinero", "type": "Transferencia", "total": "$2.500.000", "fechaDonado": "22/09/2023", "fechaRegistroDonacion": "05/09/2023" }
        ]

        const table = document.getElementById('tblData');
        const pagination = document.getElementById('pagination');
        const prevPageButton = document.getElementById('prevPage');
        const nextPageButton = document.getElementById('nextPage');
        const currentPageSpan = document.getElementById('currentPage');
        let currentPage = 1;
        const itemsPerPage = 9; // Cambia esto para ajustar la total de filas por página

        function showData(page) {
            const startIndex = (page - 1) * itemsPerPage;
            const endIndex = startIndex + itemsPerPage;
            const paginatedData = data.slice(startIndex, endIndex);

            table.tBodies[0].innerHTML = '';

            for (const item of paginatedData) {
                const row = table.tBodies[0].insertRow();
                row.insertCell(0).textContent = item.id;
                row.insertCell(1).textContent = item.first_name;
                row.insertCell(2).textContent = item.last_name;
                row.insertCell(3).textContent = item.donation;
                row.insertCell(4).textContent = item.type;
                row.insertCell(5).textContent = item.total;
                row.insertCell(6).textContent = item.fechaDonado;
                row.insertCell(7).textContent = item.fechaRegistroDonacion;

                const optionsCell = row.insertCell(8);
                optionsCell.className = 'Opciones';
                optionsCell.innerHTML = `
            <div><a href="info-servicios"><img src="../images/indexDonaciones/eye-svgrepo-com.svg" alt="icon" class="opc_eyes"></a></div>
            <div><img src="../images/indexDonaciones/editar.png" alt="icon" class="opc_edit"></div>
        `;
            }

            currentPage = page;
            currentPageSpan.textContent = currentPage;
            prevPageButton.disabled = currentPage === 1;
            nextPageButton.disabled = currentPage === Math.ceil(data.length / itemsPerPage);
        }

        prevPageButton.addEventListener('click', () => {
            if (currentPage > 1) {
                showData(currentPage - 1);
            }
        });

        nextPageButton.addEventListener('click', () => {
            if (currentPage < Math.ceil(data.length / itemsPerPage)) {
                showData(currentPage + 1);
            }
        });

        showData(currentPage); // Mostrar la primera página al cargar la página

        document.addEventListener("DOMContentLoaded", function () {
            const btnAbrirModal = document.querySelector("#btn-abrir-modal");
            const btnCerrarModal = document.querySelector("#btn-cerrar-modal");
            const modal = document.querySelector("#modal");


            btnAbrirModal.addEventListener("click", () => {
                modal.showModal();
            });


            btnCerrarModal.addEventListener("click", () => {
                modal.close();
            });
        });

        function exportTableToExcel(tableID, filename = '') {
            var downloadLink;
            var dataType = 'application/vnd.ms-excel';
            var tableSelect = document.getElementById(tableID);

            // Obtén las filas de la tabla
            var rows = tableSelect.getElementsByTagName('tr');

            // Crear un objeto HTML para almacenar solo las columnas deseadas
            var filteredTable = document.createElement('table');

            // Agregar encabezados a la nueva tabla
            var headerRow = filteredTable.createTHead().insertRow(0);
            headerRow.innerHTML = "<th>ID</th><th>Servicio</th><th>Categoria</th><th>Fecha de registro</th><th>Disponibilidad</th>";

            // Recorrer las filas de la tabla original y copiar solo las columnas deseadas a la nueva tabla
            for (var i = 0; i < rows.length; i++) {
                var cells = rows[i].getElementsByTagName('td');
                if (cells.length >= 5) { // Asegurarse de que haya al menos 5 celdas (las columnas deseadas)
                    var newRow = filteredTable.insertRow(-1);
                    for (var j = 0; j < 5; j++) { // Copiar solo las primeras 5 celdas (las columnas deseadas)
                        var newCell = newRow.insertCell(j);
                        newCell.innerHTML = cells[j].innerHTML;
                    }
                }
            }

            // Convertir la nueva tabla a HTML
            var tableHTML = filteredTable.outerHTML.replace(/ /g, '%20');

            // Especificar el nombre de archivo
            filename = filename ? filename + '.xls' : 'tabla_servicios.xls';

            // Crear el elemento de enlace de descarga
            downloadLink = document.createElement("a");

            document.body.appendChild(downloadLink);

            if (navigator.msSaveOrOpenBlob) {
                var blob = new Blob(['ufeff', tableHTML], {
                    type: dataType
                });
                navigator.msSaveOrOpenBlob(blob, filename);
            } else {
                // Crear un enlace al archivo
                downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

                // Establecer el nombre de archivo
                downloadLink.download = filename;

                // Activar la función
                downloadLink.click();
            }
        }


        function validarFormulario() {
            // Obtener el valor del campo nombre
            var valorNombre = document.getElementById("nombre").value;


            // Verificar si el campo nombre está lleno
            if (valorNombre === "") {
                // Si no está lleno, mostrar un mensaje de error y evitar enviar el formulario
                alert("Por favor, completa el campo 'Nombre'.");
                return false;
            }


            // Si todos los campos están llenos, mostrar el mensaje de guardado exitoso
            guardadoExitoso();
            return true;
        }


        function guardadoExitoso() {
            Swal.fire({
                position: "center",
                icon: "success",
                title: "Informacion gurardada con exito",
                showConfirmButton: false,
                timer: 4500
            });
        }

        function mostrarAlerta() {
            Swal.fire({
                title: "Estas seguro?",
                text: "¡No podrás revertir esto!",
                icon: "advertencia",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "¡Sí, bórralo!"
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: "¡Eliminado!",
                        text: "Su archivo ha sido eliminado.",
                        icon: "success"
                    });
                }
            });
        }


    </script>


</body>

</html>