{{>header}}

<link rel="stylesheet" href="../css/medicamentos/index.css">

{{>head }}

<!-- page content -->
<main>
    <div class="right_col" role="main">
        <section>
            <div class="titulo_p">
                <h1>Gestion de Medicamentos</h1>
            </div>
            <div class="titulo_s">
                <h4>Agregar Medicamentos</h4>
            </div>


            <img src="../images/boton-mas.png" alt="icon" data-toggle="modal" data-target="#registrar" class="icon_add"
                id="btn-abrir-modal">
        </section>
        <section class="search_icon">
            <form class="form-inline my-2 my-lg-0">
                <div>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </div>
                <div class="btn-search">
                    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit"><img
                            src="../images/bx-search-alt.svg" alt=""></button>
                </div>
            </form>

        </section>



        <div class="tabla">
            <div class="row justify-content-center align-items-center g-2">

                <div class="container">
                    <table class="table table-striped" id="data-table">
                        <thead>
                            <tr>
                                <th scope="col">Id Medicamento</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Stock</th>
                                <th scope="col">Tipo Cantidad</th>
                                <th scope="col">Gramaje</th>
                                <th scope="col" class="th_center">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>

                    </table>
                    <hr>
                    <div class="dow_excel">
                        <button onclick="exportTableToExcel('data-table')" type="submit"
                            class="fa fa-download btn btn-success" name="" id="boton ">
                        </button>
                        <div class="pagination" id="pagination">
                            <a id="prevPage">Anterior</a>
                            <span id="currentPage">
                                <h6>1</h6>
                            </span>
                            <a id="nextPage">Siguiente</a>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</main>


<!-- /page content -->
<dialog id="modal">
    <form action="" method="post" enctype="multipart/form-data" onsubmit="return validarFormulario()">
        <section>
            <!-- Campo para el nombre -->
            <label for="nombre">Id Medicamento</label>
            <input type="number" id="nombre" name="nombre" required minlength="4" maxlength="100">
            <!-- Campo para cargar un archivo -->
            <label for="archivo">Stock Medicamentos</label>
            <input type="text" id="stock">

            <!-- Campo para escribir información -->
            <label for="text">Medicion</label>
            <input type="text" name="" id="medicion">
            <!-- Campo para cambiar el estado -->
        </section>
        <section>
            <label for="text">Cantidad</label>

        </section>

        <!-- Sección de botones -->
        <section class="form_g_c">
            <div>
                <input type="submit" value="Guardar" class="btn btn-primary" onclick="guardadoExitoso()">
            </div>
            <div>
                <input type="button" value="Cancelar" class="btn btn-danger" id="btn-cerrar-modal">
            </div>
        </section>
    </form>
</dialog>
</div>
</div>
</div>
</div>

<style>

</style>


<script src="../js/medicamentos/funcionesMedicamentos.js"></script>

{{>footer}}

</body>

</html>