.tabla {
      display: grid;
      place-items: center;

    }

    thead.tabla {
      font-size: 10px;
    }

    .th_center {
      text-align: center;
    }

    .titulo_p {
      text-align: center;
      margin-top: 20px;
    }

    .titulo_s {
      margin-left: 120px;
      margin-top: 60px
    }

    .opcion {
      display: flex;
      justify-content: space-around;


    }


    .opc_edit,
    .opc_delete,
    .opc_eyes {
      width: 25px;
      margin-right: 10px;

    }
   

    .icon_add {
      width: 30px;
      margin-left: 88px;
      margin-top: -40px;
      float: left;
    }

    .search_icon {
      width: 200px;
      margin-left: 620px;
      margin-top: -70px;
      display: flex;
    }

    .btn-search {
      margin-left: 220px;
      margin-top: -38px;

    }

    .form-inline {
      display: flex;
      justify-content: space-between;
    }

    .fotito {
    border-radius: 50%;
    width: 50px;
  }



    h1 {
      text-align: center;
    }


    form {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      border-radius: 5px;
    }


    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }


    input[type="text"],
    select,
    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }


    input[type="file"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
    }


    textarea {
      resize: vertical;
    }


    input[type="submit"] {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 3px;
      padding: 10px 20px;
      cursor: pointer;
    }


    input[type="submit"]:hover {
      background-color: #0056b3;
    }

    .form_g_c {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
    }

    .boton {
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }

    .boton:hover {
      background-color: #0056b3;
    }

    .lbl-switch {
      display: inline-block;
      width: 55px;
      height: 30px;
      background: #e00c0c;
      border-radius: 100px;
      position: relative;
      cursor: pointer;
    }

    #btn-switch:checked~.lbl-switch {
      background-color: darkgreen;
    }

    #btn-switch:checked~.lbl-switch:after {
      left: 28px;
    }

    .lbl-switch:after {
      position: absolute;
      content: '';
      width: 22px;
      height: 22px;
      background: #fff;
      border-radius: 100px;
      top: 4px;
      left: 5px;
      transition: 0.3s;
    }

    #btn-switch {
      display: none;
    }

    .btn-boton-estado {
      margin-left: 150px;
      margin-top: -37px;
    }

    .pagination {
      display: flex-start;
      float: right;

    }

    .pagination span {
      display: grid;
      justify-content: center;
      place-items: center;
    }

    .pagination a,
    .pagination button,
    span {
      color: #000000;
      padding: 8px 16px;
      cursor: pointer;
      margin: 2px;


    }

    .pagination a:hover,
    .pagination button:hover {
      border: 1px solid #f9fcfe;

    }

    #currentPage {
      font-size: 15px
    }

  * {
                    box-sizing: border-box;
                }


          



                .formulario {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 20px;
                    width: 100%;
                }


                .formulario__label {
                    display: block;
                    font-weight: 700;
                    padding: 10px;
                    cursor: pointer;
                    margin-top: 10px;
                }


                .formulario__grupo-input {
                    position: relative;
                }


                .formulario__input, .formulario select {
                    width: 100%;
                    background: #fff;
                    border: 1px solid black;
                    border-radius: 3px;
                    height: 45px;
                    line-height: 45px;
                    padding: 0 40px 0 10px;
                    transition: .3s ease all;
                }


                .formulario__input:focus {
                    border: 3px solid #0075FF;
                    outline: none;
                    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
                }


                .formulario__input-error {
                    font-size: 12px;
                    margin-bottom: 0;
                    display: none;
                }


                .formulario__input-error-activo {
                    display: block;
                }


                .formulario__validacion-estado {
                    position: absolute;
                    right: 10px;
                    bottom: 15px;
                    z-index: 100;
                    font-size: 16px;
                    opacity: 0;
                }


                .formulario__checkbox {
                    margin-right: 10px;
                }


                .formulario__grupo-terminos,
                .formulario__mensaje,
                .formulario__grupo-btn-enviar {
                    grid-column: span 2;
                }


                .formulario__mensaje {
                    height: 45px;
                    line-height: 45px;
                    background: #ee0606;
                    padding: 0 15px;
                    border-radius: 3px;
                    display: none;
                    color: #000000;

                }


                .formulario__mensaje-activo {
                    display: block;
                }


                .formulario__mensaje p {
                    margin: 0;
                }


                .formulario__grupo-btn-enviar {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }


                .formulario__btn {
                    height: 45px;
                    line-height: 45px;
                    width: 8%;
                    background: #0f84c3;
                    color: #fff;
                    font-weight: bold;
                    border: none;
                    border-radius: 3px;
                    cursor: pointer;
                    transition: .1s ease all;
                    margin-right: 200px;

                }

                .cancelar a {
                    display: grid;
                    place-items: center;
                    text-align: center;
                    height: 45px;
                    line-height: 45px;
                    width: 15%;
                    color: #fff;
                    font-weight: bold;
                    border: none;
                    border-radius: 3px;
                    cursor: pointer;
                    transition: .1s ease all;
                    margin-left: 500px;
                    margin-top: -70px;
                }


                .formulario__btn:hover {
                    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
                }


                .formulario__mensaje-exito {
                    font-size: 14px;
                    color: #119200;
                    display: none;
                }


                .formulario__mensaje-exito-activo {
                    display: block;
                }


                /* ----- -----  Estilos para Validacion ----- ----- */
                .formulario__grupo-correcto .formulario__validacion-estado {
                    color: #1ed12d;
                    opacity: 1;
                }


                .formulario__grupo-incorrecto .formulario__label {
                    color: #bb2929;
                }


                .formulario__grupo-incorrecto .formulario__validacion-estado {
                    color: #bb2929;
                    opacity: 1;
                }


                .formulario__grupo-incorrecto .formulario__input {
                    border: 3px solid #bb2929;
                }




                /* ----- -----  Mediaqueries ----- ----- */
                @media screen and (max-width: 800px) {
                    .formulario {
                        grid-template-columns: 1fr;
                    }


                    .formulario__grupo-terminos,
                    .formulario__mensaje,
                    .formulario__grupo-btn-enviar {
                        grid-column: 1;
                    }


                    .formulario__btn {
                        width: 100%;
                    }
                }




                /* si */
                .columnas {
                    display: flex;
                    justify-content: space-between;
                }


                .columna {
                    width: 48%;
                    /* Ajusta según tu preferencia y considerando el espacio entre columnas */
                }

                .columnas input {
                    border-radius: 8px;
                }

                .columnas select {
                    border-radius: 8px;
                }

                .cajon {
                    border: 0px solid #000;
                    margin-top: 2px;
                    border-radius: 8px;

                }




                select {
                    width: 100%;
                    padding: 8px;
                }