{{>header}}

<link rel="stylesheet" href="../css/medicamentos/index.css">

{{>head }}

<!-- page content -->
<main>
    <div class="right_col" role="main">
        <section>
            <div class="titulo_p">
                <h1>Gestion de Medicamentos</h1>
            </div>
            <div class="titulo_s">
                <h4>Agregar Medicamentos</h4>
            </div>


            <img src="../images/boton-mas.png" alt="icon" data-toggle="modal" data-target="#registrar" class="icon_add"
                id="btn-abrir-modal">
        </section>
        <section class="search_icon">
            <form class="form-inline my-2 my-lg-0">
                <div>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </div>
                <div class="btn-search">
                    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit"><img
                            src="../images/bx-search-alt.svg" alt=""></button>
                </div>
            </form>

        </section>



        <div class="tabla">
            <div class="row justify-content-center align-items-center g-2">

                <div class="container">
                    <table class="table table-striped" id="data-table">
                        <thead>
                            <tr>
                                <th scope="col">Id Medicamento</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Stock</th>
                                <th scope="col">Tipo Cantidad</th>
                                <th scope="col">Gramaje</th>
                                <th scope="col" class="th_center">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>

                    </table>
                    <hr>
                    <div class="dow_excel">
                        <button onclick="exportTableToExcel('data-table')" type="submit"
                            class="fa fa-download btn btn-success" name="" id="boton ">
                        </button>
                        <div class="pagination" id="pagination">
                            <a id="prevPage">Anterior</a>
                            <span id="currentPage">
                                <h6>1</h6>
                            </span>
                            <a id="nextPage">Siguiente</a>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</main>


<!-- /page content -->
<dialog id="modal">
    <form action="" method="post" enctype="multipart/form-data" onsubmit="return validarFormulario()">
        <section>
            <h5 class="text-center">Registro de Medicamentos</h5>
        </section>
        <section>
            <!-- Campo para el nombre -->
            <div class="formulario__gruo">
            <div class="col-12">
                <label for="nombreMedicamento" class="form-label">Nombre Medicamento</label>
                <input type="text" class="form-control" id="nombreMedicamento" required="" minlength="4" maxlength="100">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            </div>
            <div class="formulario__grupo">
            <div class="col-12">
                <label for="stock" class="form-label">Stock Medicamentos</label>
                <input type="text" class="form-control" id="stock">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>

            </div>
            </div>
            <div class="formulario__grupo">
            <div class="col-12">
                <label for="inputNombre" class="form-label">medicion</label>
                <input type="text" class="form-control" id="medicion">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>

            </div>
            </div>
        </section>
        <section>
           <div class="formulario__grupo">
             <div class="col-12">
                <label for="cantidad" class="form-label">Cantidad</label>
                <input type="text" class="form-control" id="cantidad">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>

            </div>
           </div>

           <div  class="formulario__grupo" >
             <div class="col-12">
                <label for="inputNombre" class="form-label">Gramaje</label>
                <input type="text" class="form-control" id="Gramaje">
                <div id="nombreHelp" class="form-text"></div>
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                <p class="formulario__input-error">solo puede
                    contener numeros, letras y guion bajo.</p>
            </div>
           </div>
            <div class="col-12">
                          <div class="formulario__grupo" id="grupo__terminos">
                <label class="formulario__label">
                    <input class="formulario__checkbox" type="checkbox" name="terminos" id="terminos">
                    Acepto los Terminos y Condiciones
                </label>
            </div>
            <div class="col-12">
                 <div class="formulario__mensaje" id="formulario__mensaje">
                <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el
                    formulario
                    correctamente. </p>
            </div>

            </div>
            </div>
            <div class="col-12">
                <input type="submit" value="Guardar" class="btn btn-primary" onclick="guardadoExitoso()">
                <input type="button" value="Cancelar" class="btn btn-danger" id="btn-cerrar-modal">
            </div>
            
        </section>
    </form>
</dialog>
<dialog id="modal_ver">
    <form action="" method="post" enctype="multipart/form-data" onsubmit="return validarFormulario()">
        <section>
            <h5 class="text-center">Visualizar Medicamento</h5>
        </section>
        <section>
            <!-- Campo para el nombre -->
             <div class="formulario__gruo">
            <div class="col-12">
                <label for="idMedicamento" class="form-label">Id Medicamento</label>
                <input type="text" class="form-control" id="idMedicamento" disabled="" minlength="4" maxlength="100">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            </div>
            <div class="formulario__gruo">
            <div class="col-12">
                <label for="nombre" class="form-label">Nombre Medicamento</label>
                <input type="text" class="form-control" id="nombre" disabled="">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            </div>
            <div class="formulario__grupo">
            <div class="col-12">
                <label for="stocks" class="form-label">Stock Medicamentos</label>
                <input type="text" class="form-control" id="stocks" disabled="">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>

            </div>
            </div>
            <div class="formulario__grupo">
            <div class="col-12">
                <label for="mediciones" class="form-label">medicion</label>
                <input type="text" class="form-control" id="mediciones" disabled="">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>

            </div>
            </div>
        </section>
        <section>
            <div  class="formulario__grupo" >
             <div class="col-12">
                <label for="Gramajes" class="form-label">Gramaje</label>
                <input type="text" class="form-control" id="Gramajes" disabled="">
                <div id="nombreHelp" class="form-text"></div>
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                <p class="formulario__input-error">solo puede
                    contener numeros, letras y guion bajo.</p>
            </div>
           </div>           
           
            <div class="col-md-12">
                <input type="submit" value="Regresar" class="btn btn-success" >
            </div>
            
        </section>
    </form>
</dialog>
<dialog id="modal_editar">
    <form action="" method="post" enctype="multipart/form-data" onsubmit="return validarFormulario()">
        <section>
            <h5 class="text-center">Editar Medicamentos</h5>
        </section>
        <section>
            <!-- Campo para el nombre -->
            <div class="formulario__gruo">
            <div class="col-12">
                <label for="nombreMedicamento" class="form-label">Nombre Medicamento</label>
                <input type="text" class="form-control" id="nombreMedicamento" required="" minlength="4" maxlength="100">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            </div>
            <div class="formulario__grupo">
            <div class="col-12">
                <label for="stock" class="form-label">Stock Medicamentos</label>
                <input type="text" class="form-control" id="stock">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>

            </div>
            </div>
            <div class="formulario__grupo">
            <div class="col-12">
                <label for="inputNombre" class="form-label">medicion</label>
                <input type="text" class="form-control" id="medicion">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>

            </div>
            </div>
        </section>
        <section>
           <div class="formulario__grupo">
             <div class="col-12">
                <label for="cantidad" class="form-label">Cantidad</label>
                <input type="text" class="form-control" id="cantidad">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>

            </div>
           </div>

           <div  class="formulario__grupo" >
             <div class="col-12">
                <label for="inputNombre" class="form-label">Gramaje</label>
                <input type="text" class="form-control" id="Gramaje">
                <div id="nombreHelp" class="form-text"></div>
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                <p class="formulario__input-error">solo puede
                    contener numeros, letras y guion bajo.</p>
            </div>
           </div>
            <div class="col-12">
                          <div class="formulario__grupo" id="grupo__terminos">
                <label class="formulario__label">
                    <input class="formulario__checkbox" type="checkbox" name="terminos" id="terminos">
                    Acepto los Terminos y Condiciones
                </label>
            </div>
            <div class="col-12">
                 <div class="formulario__mensaje" id="formulario__mensaje">
                <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el
                    formulario
                    correctamente. </p>
            </div>

            </div>
            </div>
            <div class="col-12">
                <input type="submit" value="Guardar" class="btn btn-primary" onclick="guardadoExitoso()">
                <input type="button" value="Cancelar" class="btn btn-danger" id="btn-cerrar-modal2">
            </div>
           
        </section>
    </form>
</dialog>
<dialog id="modal_dardebaja">
    <form action="" method="post" enctype="multipart/form-data" onsubmit="return validarFormulario()">
        <section>
            <h5 class="text-center">Dar de baja</h5>
        </section>
        <section>
            <!-- Campo para el nombre -->
            <div class="formulario__gruo">
            <div class="col-12">
                <label for="idMedicamento" class="form-label">ID Medicamento</label>
                <input type="text" class="form-control" id="idMedicamento" required="" minlength="4" maxlength="100">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            </div>
            <div class="formulario__grupo">
            <div class="col-12">
                <label for="stock" class="form-label">Fecha De Baja</label>
                <input type="date" class="form-control" id="fecha"  required="">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>

            </div>
            </div>
            <div class="formulario__grupo">
            <div class="col-12">
                <label for="inputNombre" class="form-label">cantidad</label>
                <input type="text" class="form-control" id="cantidad" required="">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>

            </div>
            </div>
        </section>
        <section>
            <div  class="formulario__grupo" >
             <div class="col-12">
                <label for="idUsuario" class="form-label">Id Usuario</label>
                <input type="text" class="form-control" id="idUsuario" required="">
                <div id="nombreHelp" class="form-text"></div>
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                <p class="formulario__input-error">solo puede
                    contener numeros, letras y guion bajo.</p>
            </div>
           </div>
            <div class="formulario__grupo">
            <div class="col-12">
                <label for="motivo" class="form-label">Motivo</label>
                <textarea class="formulario__input" name="Motivo" id="motivo" cols="30"
                        rows="10" required=""></textarea>
                <i class="formulario__validacion-estado fas fa-times-circle"></i>

            </div>
            <div class="col-12">
                          <div class="formulario__grupo" id="grupo__terminos">
                <label class="formulario__label">
                    <input class="formulario__checkbox" type="checkbox" name="terminos" id="terminos">
                    Acepto los Terminos y Condiciones
                </label>
            </div>
            <div class="col-12">
                 <div class="formulario__mensaje" id="formulario__mensaje">
                <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el
                    formulario
                    correctamente. </p>
            </div>

            </div>
            </div>
            <div class="col-12">
                <input type="submit" value="Guardar" class="btn btn-primary" id="baja" >
                <input type="button" value="Cancelar" class="btn btn-danger" id="btn-cerrar-modal3">
            </div>
           
        </section>
    </form>
</dialog>

</div>
</div>
</div>
</div>

<style>

</style>


<script src="js/medicamentos/funcionesMedicamentos.js"></script>

{{>footer}}

</body>

</html>